<div id="svg-content" class="vacation-spirit">
  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M6.36407 6.364C9.87878 2.84929 15.5773 2.84929 19.092 6.364L12.728 12.728M6.36407 6.364C2.84935 9.87872 2.84935 15.5772 6.36407 19.0919L12.728 12.728M6.36407 6.364C6.36407 6.364 12.0417 6.38489 15.5564 9.89961M6.36407 6.364C6.36407 6.364 6.38483 12.0417 9.89955 15.5565M12.728 12.728L20 20.0001"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    ><path
      d="M7 6C3.101563 6 0 9.101563 0 13L0 29L29 29L29 21C29 18.300781 31.300781 16 34 16L43.3125 16C44.710938 16 45.585938 14.605469 45.1875 13.40625C45.085938 13.007813 45.011719 12.710938 44.8125 12.3125L42.6875 9.09375C42.488281 8.894531 42.386719 8.605469 42.1875 8.40625L42.09375 8.3125L41.5 7.6875C40.199219 6.585938 38.511719 6 36.8125 6 Z M 7 11L22 11C22.601563 11 23 11.398438 23 12L23 22C23 22.601563 22.601563 23 22 23L7 23C6.398438 23 6 22.601563 6 22L6 12C6 11.398438 6.398438 11 7 11 Z M 30 11L38 11C38.601563 11 39 11.398438 39 12C39 12.601563 38.601563 13 38 13L30 13C29.398438 13 29 12.601563 29 12C29 11.398438 29.398438 11 30 11 Z M 34 18C32.398438 18 31 19.398438 31 21L31 36C31 37.199219 31.773438 38.28125 32.84375 38.75C33.199219 38.90625 33.601563 39 34 39L34.09375 39C34.59375 41.800781 37 44 40 44C43 44 45.40625 41.800781 45.90625 39L47 39C47.199219 39 47.402344 38.980469 47.59375 38.9375C48.933594 38.648438 50 37.398438 50 36L50 27L49.96875 27C49.957031 26.863281 49.960938 26.726563 49.9375 26.59375C49.898438 26.359375 49.847656 26.125 49.78125 25.90625C49.773438 25.875 49.757813 25.84375 49.75 25.8125C49.6875 25.609375 49.605469 25.40625 49.53125 25.21875C49.109375 24.117188 48.542969 23.273438 48.40625 23.125L48.40625 23.09375L45.8125 19.59375L45.78125 19.59375L45.78125 19.5625C44.792969 18.328125 43.402344 18 42 18 Z M 37 20L42 20C43.171875 20 43.59375 20.058594 44.1875 20.78125C44.199219 20.796875 44.207031 20.796875 44.21875 20.8125L45.5 22.5625L46.6875 24.1875C46.988281 24.585938 47.707031 25.898438 47.90625 27L38 27C37.398438 27 37 26.601563 37 26 Z M 0 31L0 36C0 37.699219 1.300781 39 3 39L7.09375 39C7.59375 41.800781 10 44 13 44C16 44 18.40625 41.800781 18.90625 39L26.09375 39C27.695313 39 28.90625 37.6875 28.90625 36.1875L28.90625 31 Z M 13 34C15.199219 34 17 35.800781 17 38C17 40.199219 15.199219 42 13 42C10.800781 42 9 40.199219 9 38C9 35.800781 10.800781 34 13 34 Z M 40 34C42.199219 34 44 35.800781 44 38C44 40.199219 42.199219 42 40 42C37.800781 42 36 40.199219 36 38C36 35.800781 37.800781 34 40 34Z"
    ></path></svg
  >

  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.08063 1C2.40362 1 1.47127 2.93986 2.51889 4.24939L11 14.8508V21H6C5.44772 21 5 21.4477 5 22C5 22.5523 5.44772 23 6 23H18C18.5523 23 19 22.5523 19 22C19 21.4477 18.5523 21 18 21H13V14.8508L21.4811 4.24939C22.5287 2.93986 21.5964 1 19.9194 1H4.08063ZM7.28063 7L4.08063 3H19.9194L16.7194 7H7.28063ZM8.88063 9L12 12.8992L15.1194 9L8.88063 9Z"
    ></path>
  </svg>

  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M13 14L17 9L22 18H2.84444C2.46441 18 2.2233 17.5928 2.40603 17.2596L10.0509 3.31896C10.2429 2.96885 10.7476 2.97394 10.9325 3.32786L15.122 11.3476"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>

  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M24.907 6.625v-3.749c0-0.937 0-1.875-0.937-1.875l-1.876 0c-0.937 0-0.937 0.937-0.937 1.875v3.749c-0.518 0-0.938 0.42-0.937 0.937v1.875c0 0.518 0.42 0.937 0.937 0.937v0 13.126c0 2.071-1.679 3.75-3.75 3.75s-3.75-1.679-3.75-3.75c0 0 0.937-0.937 0.937-1.875s2.813-1.875 2.813-2.813c0-0.937-0.937-0.937-0.937-0.937s-2.813 2.813-4.688 2.813-4.688-2.813-4.688-2.813-0.937 0-0.937 0.937 2.813 1.875 2.813 2.813c0 0.937 0.937 1.875 0.937 1.875 0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-13.126c0.517-0 0.936-0.42 0.936-0.937v-1.875c0-0.517-0.419-0.937-0.936-0.937z"
    ></path>
  </svg>
  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M392 560a32 32 0 0 0-32-32c-1.28 0-1.68-1.04-0.8-1.92a32 32 0 0 0-45.28-45.28c-0.88 0.88-1.92 0.4-1.92-0.8a32 32 0 0 0-64 0c0 1.28-1.04 1.68-1.92 0.8a32 32 0 1 0-45.28 45.28c0.88 0.88 0.4 1.92-0.8 1.92a32 32 0 0 0 0 64c1.28 0 1.68 1.04 0.8 1.92a32 32 0 0 0 45.28 45.28c0.88-0.88 1.92-0.4 1.92 0.8a32 32 0 0 0 64 0c0-1.28 1.04-1.68 1.92-0.8a32 32 0 0 0 45.28-45.28c-0.88-0.88-0.4-1.92 0.8-1.92a32 32 0 0 0 32-32z"
    ></path><path d="M483.04 705.6c145.76 76.88 376.72 112.4 460.96-2.48-156.48-58.64-328.96-37.6-460.96 2.48z"
    ></path><path d="M744 599.44v-120a232 232 0 0 0-464 0v120l-200 104c0 96 190.8 85.2 320 32 136-56 352-104 544-32z"
    ></path><path d="M280 527.2h464v80H280z"></path><path
      d="M392 560a32 32 0 0 0-32-32c-1.28 0-1.68-1.04-0.8-1.92a32 32 0 0 0-45.28-45.28c-0.88 0.88-1.92 0.4-1.92-0.8a32 32 0 0 0-64 0c0 1.28-1.04 1.68-1.92 0.8a32 32 0 1 0-45.28 45.28c0.88 0.88 0.4 1.92-0.8 1.92a32 32 0 0 0 0 64c1.28 0 1.68 1.04 0.8 1.92a32 32 0 0 0 45.28 45.28c0.88-0.88 1.92-0.4 1.92 0.8a32 32 0 0 0 64 0c0-1.28 1.04-1.68 1.92-0.8a32 32 0 0 0 45.28-45.28c-0.88-0.88-0.4-1.92 0.8-1.92a32 32 0 0 0 32-32z"
    ></path><path d="M280 560m-48 0a48 48 0 1 0 96 0 48 48 0 1 0-96 0Z"></path><path
      d="M280 560m-16 0a16 16 0 1 0 32 0 16 16 0 1 0-32 0Z"></path>
  </svg>
  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7,19c2.8,0,5-2.2,5-5c0,2.8,2.2,5,5,5s5-2.2,5-5v-2c0,0,0-0.1,0-0.1c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.1-0.1-0.2   c0,0,0-0.1-0.1-0.1l-5-6C16.5,5,16,4.9,15.6,5.1l-2,1c-0.5,0.2-0.7,0.8-0.4,1.3s0.8,0.7,1.3,0.4l1.3-0.6l3.1,3.8H14h-1h-2h-1H5.1   l3.1-3.8l1.3,0.6c0.5,0.2,1.1,0,1.3-0.4c0.2-0.5,0-1.1-0.4-1.3l-2-1C8,4.9,7.5,5,7.2,5.4l-5,6c0,0,0,0.1-0.1,0.1   c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1v2C2,16.8,4.2,19,7,19z M14,13h6v1c0,1.7-1.3,3-3,3s-3-1.3-3-3V13z M4,13   h6v1c0,1.7-1.3,3-3,3s-3-1.3-3-3V13z"
    ></path>
  </svg>
</div>

<style lang="scss">
  $green: var(--aw-color-primary);
  $purple: var(--aw-color-accent);
  .vacation-spirit {
    perspective-origin: 50% 50%;
    display: none;
  }

  .svg {
    stroke: $green;
    fill: $green;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
  }

  $total: 10;
  @for $i from 1 through $total {
    $scale: random(2) - 0.4;

    .svg:nth-child(3n),
    .svg:nth-child(2),
    .svg:nth-child(7) {
      stroke: $purple;
      fill: $purple;
    }

    .svg:nth-child(#{$i}) {
      left: random(120) * 1% - 20;
      animation: raise#{$i} 6 + random(15) + s linear infinite;
      animation-delay: random(5) - 5 + s;
      transform: scale(0.3 * $i + 1) rotate(random(360) + deg);
      z-index: 1000;
      filter: blur($i - 6 + px);

      @keyframes raise#{$i} {
        to {
          bottom: 150vh;
          transform: scale(0.3 * $i + 1) rotate(random(360) + deg);
        }
      }
    }
  }
</style>
