.answered-questions {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    flex-wrap: wrap;
}

.answered-questions .question {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answered-questions .question img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.answer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.answer-0 {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.answer-1 {
    background: rgb(63,94,251);
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

.answer-2 {
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%);
}

.answer-3 {
    background: rgb(238,174,202);
    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.answer-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* position: absolute;
    margin-top: 0px;
    margin-left: 0; */
}

.animate-image .answer-image {
    animation: slide-in 0.7s both;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-300px);
    }
  }
  

.answer-text {
    height: 5rem;
    flex: 0 0 auto;
    overflow: hidden;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.image-container {
    display: flex;
    justify-content: center;
}