body {
  overflow-x: hidden;
}

.site-name .logo {
  height: 70px;
}

.active {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: white;
  transition: transform 0.5s ease-out;
  overflow-y: auto;
}

.scroll nav {
  color: var(--aw-color-text-default);
}

.scroll .site-name {
  color: var(--aw-color-text-default);
} {
  color: var(--aw-color-text-default);
}

.background-image {
  background-size: contain;
  color: #ffffff;
  background-position: bottom;
}

.dark .active {
  background: rgb(3 6 32);
}

.answered-questions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
  align-items: flex-start;
  transition: justify-content 3s ease-out;
  justify-content: flex-end;
  @media only screen and (min-width: 500px) {
    margin: 40px 0 30px 0;
    gap: 1rem;
  }
}

.finished .answered-questions{
  justify-content: flex-start;
  position: relative;
  @media only screen and (min-width: 500px) {
    justify-content: center;
  }
}

.edit-link-mobile, .edit-link-desktop {
  display: none;
}

.finished {
  @media only screen and (max-width: 499px) {
    overflow: hidden;
  }
}

.finished .edit-link-mobile {
  @media only screen and (max-width: 499px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.finished .edit-link-desktop {
  @media only screen and (min-width: 500px) {
    display: block;
  }
}

.answered-questions .question {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.answered-questions .question img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.answered-questions .answered-question-text {
  width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  @media only screen and (min-width: 500px) {
    width: 7rem;
  }
}

.answer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.answer-inner {
  margin-top: 0;
  opacity: 1;
  transition: all 0.4s ease-out;
}

.animate-answer {
  margin-top: -300px;
  opacity: 0;
}

.answer-text-base {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.animate-answer-text {
  opacity: 0;
}

.answer-image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

@media only screen and (min-width: 500px) {
  .animate-image:hover {
    transform: scale(1.2);
  }
}

.features-item {
  display: flex;
  align-items: center;
}

.animate-image .answer-image {
  animation: slide-in 0.7s both;
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
}

.answer-text {
  max-height: 6rem;
  flex: 0 0 auto;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.image-container {
  display: flex;
  justify-content: center;
}

.close-icon {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 99999;
}

.close-icon:hover {
  opacity: 1;
}
.close-icon:before,
.close-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  cursor: pointer;
}

.dark .close-icon:before,
.dark .close-icon:after {
  background-color: #ffffff;
}

.close-icon:before {
  transform: rotate(45deg);
}
.close-icon:after {
  transform: rotate(-45deg);
}

.svg-button {
  display: none;
  @media only screen and (min-width: 500px) {
    display: block;
    z-index: 1000;
    position: absolute;
    transform: rotate(90deg);
    right: -96px;
    top: 50%;
  }
}

@media only screen and (min-width: 500px) {
  .is-home-page .site-name {
    color: #fff;
  }
}

.sub-page p {
  margin-bottom: 1.5rem;
}

.sub-page a {
  color: var(--aw-color-primary);
}

.sub-page h6 {
  font-weight: 600;
}
